<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="initialize.php" colors="true">
    <testsuites>
        <testsuite name="Davi">
            <directory>tests/Davi</directory>
        </testsuite>
        <testsuite name="Daiane">
            <directory>tests/Daiane</directory>
        </testsuite>
        <testsuite name="Danrley">
            <directory>tests/Danrley</directory>
        </testsuite>
        <testsuite name="Luana">
            <directory>tests/Luana</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>src/Model</directory>
        </include>
    </coverage>
</phpunit>
